.favorable {
    background-color: lightgreen;
    width: 200px;
    margin: 0 auto;
    border-radius: .25rem;
}

.moderate {
    background-color: orange;
    width: 200px;
    margin: 0 auto;
    border-radius: .25rem;
}

.severe {
    background-color: red;
    width: 200px;
    margin: 0 auto;
    border-radius: .25rem;
}


.bg-dark {
    background-color: rgb(82, 98, 119) !important;
}

#no-border .card {
    border: none;

}


.card {
    border: none;
}

#disappear {
    display: none;
}



@media screen and (max-width: 767px) {

    .display-3 {
        text-align: center;
        font-size: 55px;
    }

    .text-left {
        text-align: center !important;
    }

}